.carousel-container {
	/* Used for positioning buttons and dots */
	position: relative;
	overflow: hidden;
	max-width: 100%;

	display: grid;
	grid-template-areas: "carousel-stack";

	/* prevent default browser touch behaviour on carousel */
	/* needed to make dragging work on mobile */
	touch-action: none;
}

.carousel-container > * {
	grid-area: carousel-stack;
}
